<launch>

<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 -0.08 0.14 1.57 -1.57 0 /arm_link_4 /laser 1" />

<node type="laser_scan_assembler" pkg="laser_assembler" name="hokuyo_scan_assembler">
   <remap from="scan" to="scan"/>
    <param name="max_scans" type="int" value="5000" />
    <param name="ignore_laser_skew" type="bool" value="false" />
    <param name="fixed_frame" type="string" value="base_link" />
  </node>
</launch>
